<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<table>
  <thead>
    <tr>
      <th>Hair colour</th>
      <th>House</th>
      <th>Wand</th>
      <th>Patronus</th>
      <th>Badass rating</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.hair_colour %></td>
        <td><%= character.house %></td>
        <td><%= character.wand %></td>
        <td><%= character.patronus %></td>
        <td><%= character.badass_rating %></td>
        <td><%= image_tag character.image %></td>
        <td><%= link_to 'Show', character %></td>
        <% if logged_in? %>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path %>
