<h1>Profiles</h1>

<% profiles.forEach((profiles) => { %>
    <h2><%= profiles.name %></h2>
    <h2><%= profiles.age %></h2>
    <h2><%= profiles.species %></h2>
    <h2><%= profiles.img %></h2>
    <h2><%= profiles.hobbies %></h2>
    <h2><%= profiles.dislikes %></h2>


<% }) %>
